:root {
    --background-color: #202020;
    --element-color: #1a1a1a;
    --input-boarder-color: #404450;
    --focus-color: #0077ff;
    --active-color: #00ff77;
    background-color: var(--background-color);
}
body {
    font-family: sans-serif;
    margin: auto;
    background:#222;
    color: #fff;
}
button {
    border: 1px solid;
    border-color: var(--input-boarder-color);
    background-color: var(--element-color);
    border-radius: 5px;
    width: 8em;
    height: 3em;
    transition: all 0.25s;
}
button:hover {
  border-color: var(--focus-color);
}
button:active {
    border-color: var(--active-color);
}
.active {
    border-color: var(--focus-color);
}
#view {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: max-content;
    display: grid;
    grid-template-columns: max-content auto;
}
#ui {
    padding: 10px;
    border:1px solid var(--element-color);
    border-radius: 12px;
    background-color: var(--element-color);
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    row-gap: 1em;
}
#ui label {
    margin-right: 8px;
    height: min-content;
}
#ui input[type=range] {
    vertical-align: middle;
}
#ui span {
    display:inline-block; width:30px; text-align:center;
}
canvas {
    display:block;
    margin:auto;
    background:#646464;
}
@media (max-width: 1200px) {
    #view {
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    }
}
@media (max-height: 900px) {
    #view {
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    }
}
